<%= form_with(model: task, local: true, url: choose_new_or_edit) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> タスクの保存に失敗しました:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :タスク名 %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :タスク内容 %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :タスク期日 %>
    <%= form.date_field :due_date %>
  </div>
  
  <div class="field">
    <%= form.label :ステータス %>
    <%= form.select :status, [["未着手", "未着手"], ["着手中", "着手中"], ["完了", "完了"]], include_blank: "選択して下さい" %>
  </div>

  <div class="field">
    <%= form.label :優先度 %>
    <%= form.select :priority,  Task.priorities.keys, {prompt: "選択してください"}, class: "priority_select"  %>
    <%# TODO:Task.priorities.keysの意味を理解すること→たぶん、モデルのpriorityから引っ張ってきてる %>
    <%#= form.select :label,  Task.priorities.keys, {prompt: "選択してください"}, class: "priority_select"  %>
  </div>

  <div class="field">
    <%= form.label :ラベル %>
    <br>
    <%= form.collection_check_boxes(:label_ids, Label.all, :id, :name) %>
    <%# TODO:ここ要注意！できたけどロジック理解甘い %>
  </div>

  <%#= f.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to "タスク一覧", tasks_path %>

