<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>
<br>
<h3><%= @user.name %>のタスク</h3>

<p>
<td><%= link_to 'プロフィール編集', edit_user_path if @user.id == current_user.id %></td>
<td><%= link_to 'タスク一覧', tasks_path %></td>
<td><%= link_to '管理者画面', administrator_users_path if @user.id   == current_user.id %></td>
</p>
